{% load extra_products %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'products/css/index.css' %}">
    <title>Продукты</title>
</head>
<body>
    <div class="table">
        <table id="table">
            <thead>
                <tr>
                    <th>{{object_list.0|verbose_name:"name"}}</th>
                    <th>{{object_list.0|verbose_name:"description"}}</th>
                    <th>{{object_list.0|verbose_name:"price"}}</th>
                </tr>
            </thead>
            <tbody>
                {% for product in object_list %}
                    <tr>
                        <td>{{product.name}}</td>
                        <td>{{product.description}}</td>
                        <td>{{product.price}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="form">
        <form method="post" id="form-add-product">
            {% csrf_token %}
            <label for="id_name">Наименование</label>
            <input type="text" name="name_pr" required id="id_name">
            <label for="id_description">Описание</label>
            <textarea name="description" cols="40" rows="10" required id="id_description"></textarea>
            <label for="id_price">Цена</label>
            <input type="number" name="price" required id="id_price">
            <button type="button" id="btn-add-product">Отправить</button>
        </form>
    </div>
    <div class="error" id="error-block" display="none"></div>
</body>
<script type="text/javascript" src="{% static 'products/js/index.js' %}"></script>
</html>